.contenedor{width: 80%;
     max-width: 1000px;
}



body{display: grid;
     font-style:italic;
     font-size: large;
     background-image: url(../imagenes/fondo.jpg);
     margin: 0%;}

                   


.header{display: grid;
        justify-content: left;
        text-align: center;
        color: rgb(21, 255, 0);
        text-decoration: underline ;
        text-align:center;
 
 
 


}
 
nav{display: flex;
     flex-direction: column;
     position: absolute;
     left: 160px;  
     top: 300px;  
     color:rgb(21, 255, 0);
     
     
 }
 
.imagen{display: flex;
        flex-direction: row;
     
    

     
     
     
}




footer{display:flex ;
 color: blue;
 font-size: medium;}

 @media (max-width: 1000px){
     header{
             
             grid-column-end: auto;
             text-align: left;
     }
}




     

     













     



    






  




