body{display: grid;
    font-style:italic;
    font-size: large;
background-image: url(../imagenes/fondo.jpg);
}


.header{display: grid;
    grid-template-areas:header ;
    color: rgb(21, 255, 0);
text-decoration: underline ;
text-align:center;}

nav{display: grid;
    grid-template-areas: nav;
    grid-auto-rows: 25px;
position: absolute;
right: 20px;
top: 20px;
left: 1200px;
color:rgb(21, 255, 0);}

aside{display: grid;
    grid-template-areas: aside;
color:rgb(21, 255, 0);
}


footer{display: grid;
    grid-template-areas: footer;
grid-template-rows: 25px;
color: blue;}

